.profile_container{
    display: table;
    width: auto;
    height: auto;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
}
.profile_img-container{
    padding: 20px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


table{
    display: inline-block;
    /* float: left; */
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
caption{
    padding: 10px;
}