<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Authenticated Secure Matrimony</title>
    <script>
      AOS.init();
    </script>
    <meta charset="utf-8">
    <meta name="author" content="ASHOK">
    <meta name="tech" content="All about tech news">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/css/home_style.css">

    

  <style>
   body{
    background-image: url('../static/images/homepage2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 2px;
    font-style: oblique;
    padding: inherit;
    background-color: #0b162b;
    font-family: Artifika;
  }
  
  </style>

  </head>

  <body>
    <div style="background-image:url('loginpage.jpg'); text-align:center; padding:15px;">
      <header>
      <a style="text-decoration:none;"href="{{ url_for('home') }}">  <h1 style="color:white;">Authenticated Secure Matrimony</h1></a>

      </header>
    </div>

<div class="sticky">
  <div>
    <ul class="navbar">
      <li><a class="active" href="#home"> HOME </a></li>
      <li><a href="{{url_for('match_finder')}}"> Find Your Match </a></li>
      <li><a href="mailto:abcd@gmail.com">CONTACT US </a></li>
      <li style="float:right;"><a style="margin-right:0" href="#about">ABOUT</a></li>
      <li style="float:right;" class="dropdown">
        <a href="#" class="dropbtn">PROFILE</a>
        <div class="dropdown-content">
            {% block content %}
             {% if profile %}
                 <a href="{{ url_for('myProfile') }}">My Profile</a>
                 <a onclick="window.location = 'http://localhost:5000/dropsession'">Log Out</a>
             {% else %}
                 <a href="{{ url_for('login') }}">Log In</a>
                 <a href="{{ url_for('newUser') }}">Register</a>
             {% endif %}
            {% endblock %}          
          <!-- <a href="#">something</a> -->
        </div>
      </li>
      <li style="float:right;"><a style="margin-right:0" href="{{url_for('interest')}}">INTEREST</a></li>
    </ul>
  </div>
  </div>
  <h3>Feedback And Stories</h3>
<div class="card_containter">
 feedback and stories
</div>
<div class="card_containter">
<div>
  feedback and stories
 </div>
</div>
<div class="card_containter">
  feedback and stories
</div>
<div class="card_containter">
  feedback and stories
</div>
<footer>
  <div style="background-color:#0f1a36;text-align:center;padding:10px;margin-top:7px;">
    © copyright
<a class="footer" href="#"> <p class="footer">terms & comditions</p></a>
<a class="footer" href="#"> <p class="footer"> About us</p></a>
<a class="footer" href="#"><p class="footer">Feedback </p></a>
<a class="footer" href="#"> <p class="footer"> Contact</p></a>

<a class="footer" href="#">  <p class="footer">privacy policy</p></a>

  </div>
</footer>
  </body>
</html>
